@import "./fonts.css";
@import "./variables.css";
@import "tailwindcss";

@layer base {
  :root {
    --font-poppins:
      "Poppins", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }

  body {
    font-family: var(--font-poppins);
    margin: 0;
    padding: 0;
    min-width: 320px;
    min-height: 100vh;
    background-color: #fcfbfc;
    overflow-x: hidden;
  }
}
