@import "./fonts.css";
@import "./variables.css";
@import "tailwindcss";

@layer base {
  :root {
    --font-poppins:
      "Poppins", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }

  body {
    font-family: var(--font-poppins);
    margin: 0;
    padding: 0;
    min-width: 320px;
    min-height: 100vh;
    background-color: #fcfbfc;
    overflow-x: hidden;
  }
}

.card {
  @apply bg-white p-6 rounded-2xl shadow-md shadow-gray-100 border border-gray-200/50;
}

.card-btn {
  @apply flex items-center gap-1 text-[12px] font-medium text-gray-700 hover:text-purple-500 bg-gray-50 hover:bg-purple-50 px-4 py-1.5 rounded-lg border border-gray-200/50 cursor-pointer duration-100;
}

.add-btn {
  @apply flex items-center gap-1.5 text-xs md:text-sm font-medium text-purple-600 whitespace-nowrap bg-purple-50 border border-purple-100 rounded-lg px-4 py-2 cursor-pointer;
}

.add-btn-fill {
  @apply text-white bg-primary;
}
